/* ==========================================================================
   Top-about project
   ========================================================================== */

@use '../../../abstracts/' as *;
@use 'sass:math' as *;

/* inner layout */
.p-top-about__inner {
  position: relative;
}

/* media layout */
.p-top-about__media {
  @include fs-aspect-ratio(div(335px, 248px));

  max-height: fs-rem(360px);

  @include mq($from: desktop) {
    height: fs-rem(656px);
    max-height: none;
  }
}

/* image layout */
.p-top-about__image {
  @include fs-absolute-fill;

  object-fit: cover;
}

/* body layout */
.p-top-about__body {
  margin-top: fs-rem(48px);

  @include mq($from: desktop) {
    position: absolute;
    top: fs-rem(40px);
    left: 0;
    margin-top: fs-rem(0);
    padding: fs-rem(48px);
    background-color: var(--color-neutral-lightest);
  }
}

/* header layout */
.p-top-about__header {
  margin-top: fs-rem(-19px);

  @include mq($from: desktop) {
    justify-content: left;
  }
}

/* text layout */
.p-top-about__text {
  @include mq($from: tablet, $until: desktop) {
    text-align: center;
  }
}

/* button layout */
.p-top-about__button {
  text-align: center;

  @include mq($from: desktop) {
    text-align: left;
  }
}

/* sub-media layout */
.p-top-about__sub-media {
  display: none;

  @include mq($from: desktop) {
    @include fs-aspect-ratio(div(408px, 120px));

    width: fs-rem(408px);
    margin-top: fs-rem(32px);
  }
}

/* sub-image layout */
.p-top-about__sub-image {
  @include fs-absolute-fill;

  object-fit: cover;
}
