/* ==========================================================================
   Top-key-visual project
   ========================================================================== */

@use '../../../abstracts/' as *;
@use 'sass:math' as *;

/* key-visual overview */
.p-top-kv {
  background: linear-gradient(to right, var(--color-primary-mid), var(--color-neutral-darker));
}

/* inner layout */
.p-top-kv__inner {
  position: relative;
}

/* swiper layout */
.p-top-kv__swiper {
  z-index: var(--z-index-base);
}

/* swiper-wrapper layout */
.p-top-kv__swiper-wrapper {
  z-index: var(--z-index-base);
}

/* media layout */
.p-top-kv__media {
  width: fs-rem(375px);
  height: fs-rem(611px);
  margin-left: auto;

  @include mq($from: tablet) {
    @include fs-aspect-ratio(div(1366px, 688px));

    width: 100%;
    height: fs-rem(688px);
  }
}

/* image layout */
.p-top-kv__image {
  @include mq($from: tablet) {
    @include fs-absolute-fill;

    object-fit: cover;
    object-position: left bottom;
  }
}

/* body layout */
.p-top-kv__body {
  @include fs-scale(left, (374px: 20px, 1366px: 175px));
  @include fs-scale(top, (374px: 100px, 1366px: 100px));

  position: absolute;
}

/* break layout */
.p-top-kv__break {
  display: block;
}

/* break layout for pc */
.p-top-kv__break--pc {
  @include mq($from: desktop) {
    display: inline;
  }
}

/* copy layout */
.p-top-kv__copy {
  margin-top: fs-rem(24px);
}

/* textbox layout */
.p-top-kv__textbox {
  display: block;
  width: max-content;
  margin-left: fs-rem(12px);
  padding: fs-rem(2px) fs-rem(12px);
  background-color: var(--color-neutral-lightest);
  box-shadow: fs-rem(8px) fs-rem(6px) fs-rem(0) var(--color-neutral-darken);
  transform: skewX(-28deg);

  @include mq($from: tablet) {
    margin-left: fs-rem(32px);
    padding: fs-rem(12px) fs-rem(24px);
    transform: skewX(-40deg);
  }

  &:nth-of-type(2) {
    margin-top: fs-rem(14px);

    @include mq($from: tablet) {
      margin-top: fs-rem(16px);
    }
  }
}

/* text layout */
.p-top-kv__text {
  transform: skewX(28deg);

  @include mq($from: tablet) {
    transform: skewX(40deg);
  }
}

/* news layout */
.p-top-kv__news {
  @include fs-scale((left, right), (374px: 20px, 1366px: 175px));
  @include fs-scale(bottom, (374px: 26px, 1366px: 16px));

  position: absolute;
}
