/* ==========================================================================
   Top-works project
   ========================================================================== */

@use '../../../abstracts/' as *;
@use 'sass:math' as *;

/* works overview */
.p-top-works {
  padding-top: fs-rem(32px);
  padding-bottom: fs-rem(40px);
  background: linear-gradient(115deg, var(--color-neutral-lighter) 0% 12%, var(--color-neutral-lightest) 12% 88%, var(--color-neutral-lighter) 88% 100%);

  @include mq($from: tablet) {
    padding-top: fs-rem(0);
    padding-bottom: fs-rem(0);
    background: linear-gradient(45deg, var(--color-neutral-lighter) 0% 10%, var(--color-neutral-lightest) 10% 90%, var(--color-neutral-lighter) 90% 100%);
  }
}

/* title layout */
.p-top-works__title {
  margin-top: fs-rem(-13px);

  @include mq($from: tablet) {
    margin-top: fs-rem(-20px);
  }
}

/* copy & text layout */
.p-top-works__copy,
.p-top-works__text {
  text-align: left;

  @include mq($from: tablet) {
    text-align: center;
  }
}

/* copy layout */
.p-top-works__copy {
  @include mq($from: tablet) {
    margin-top: fs-rem(-2px);
  }
}

/* text layout */
.p-top-works__text {
  margin-top: fs-rem(16px);

  @include mq($from: tablet) {
    margin-top: fs-rem(24px);
  }
}

/* list layout */
.p-top-works__list {
  margin-top: fs-rem(36px);

  @include mq($from: tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: fs-rem(48px);
    margin-left: fs-rem(-40px);
  }
}

/* item layout */
.p-top-works__item {
  @include mq($from: tablet) {
    width: div(100%, 2);
    padding-left: fs-rem(40px);
  }

  &:nth-of-type(n+2) {
    margin-top: fs-rem(34px);

    @include mq($from: tablet) {
      margin-top: fs-rem(0);
    }
  }
}

/* button layout */
.p-top-works__button {
  text-align: center;
}
