/* ==========================================================================
   Card component
   ========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* card overview */
.c-card {
  display: flex; // Required when adding a background color style to a textbox.
  flex-direction: column; // Required when adding a background color style to a textbox.
  width: 100%;
  height: 100%;

  @include mq($from: tablet) {
    background-color: var(--color-neutral-lightest);
    box-shadow: fs-rem(0) fs-rem(0) fs-rem(10px) var(--color-neutral-mid-alpha-high);
  }
}

/* inner style */
.c-card__inner {
  padding: fs-rem(39px) fs-rem(36px) fs-rem(0);
  background-color: var(--color-neutral-lightest);
  border: fs-rem(2px) solid var(--color-neutral-lighter);
  border-radius: fs-rem(10px);

  // only tablet style
  @include mq($from: tablet, $until: desktop) {
    flex-direction: row;
    align-items: center;
    padding: fs-rem(24px);
  }
}

/* body layout */
.c-card__body {
  display: flex; // Push the button to the bottom of the text box
  flex-direction: column; // Push the button to the bottom of the text box
  flex-grow: 1; // Required when adding a background color style to a textbox.
  padding-top: fs-rem(18px);

  @include mq($from: tablet) {
    padding: fs-rem(22px) fs-rem(20px) fs-rem(28px);
  }
}

/* number layout */
.c-card__number {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-card-number);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fs-rem(64px);
  height: fs-rem(40px);
  background-color: var(--color-neutral-darker);

  @include mq($from: tablet) {
    top: fs-rem(-14px);
    bottom: auto;
    left: fs-rem(-14px);
    width: fs-rem(56px);
    height: fs-rem(56px);
  }
}

/* media layout */
.c-card__media {
  @include fs-aspect-ratio(div(375, 160));

  margin-right: calc((50vw - 50%) * -1);
  margin-left: calc((50vw - 50%) * -1);

  @include mq($from: tablet) {
    @include fs-aspect-ratio(div(472, 240));

    margin-right: 0;
    margin-left: 0;
    overflow: visible;
  }
}

/* image layout */
.c-card__image {
  @include fs-absolute-fill;

  object-fit: cover;
}

/* description layout */
.c-card__description {
  margin-top: fs-rem(8px);

  @include mq($from: tablet) {
    margin-top: fs-rem(18px);
  }
}
