/* ==========================================================================
   Heading component
   ========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* common style */
.c-heading__level1,
.c-heading__level2 {
  font-family: var(--font-family-secondary);
}

.c-heading__level2,
.c-heading__level3 {
  font-weight: var(--font-weight-medium);
}

/* h1 */
.c-heading__level1 {
  @include fs-scale(font-size, (375px: 48px, 1366px: 96px));

  color: var(--color-neutral-lightest);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-wide);
}

/* h2 */
.c-heading__level2 {
  font-size: var(--font-size-7xl);

  @include mq($from: tablet) {
    font-size: calc((var(--font-size-7xl) + var(--font-size-9xl)) / 2);
  }

  @include mq($from: desktop) {
    font-size: var(--font-size-9xl);
  }
}

/* h3 */
.c-heading__level3 {
  font-size: var(--font-size-3xl);

  @include mq($from: tablet) {
    font-size: calc((var(--font-size-3xl) + var(--font-size-7xl)) / 2);
  }

  @include mq($from: desktop) {
    font-size: var(--font-size-7xl);
  }
}
