/* ==========================================================================
   Logo component
   ========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* header, footer logo */
.c-logo__header {
  width: fs-rem(120px);
  height: fs-rem(26px);
  overflow: hidden; // Workaround for sideways scrolling problem in ie11

  @include mq($from: desktop) {
    width: fs-rem(136px);
    height: fs-rem(29px);
  }
}
