/* ==========================================================================
   News component
   ========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* overview */
.c-news {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
    align-items: center;
    background-color: var(--color-neutral-darker);
    border: fs-rem(2px) solid var(--color-neutral-darker);
  }
}

/* header layout */
.c-news__header {
  display: flex;
  padding-left: fs-rem(12px);
  background-color: var(--color-neutral-darker);
  clip-path: polygon(0 0, 17% 0%, 20% 100%, 0% 100%);

  @include mq($from: tablet) {
    display: block;
    width: fs-rem(80px);
    padding-left: fs-rem(16px);
    clip-path: none;
  }

  @include mq($from: desktop) {
    width: fs-rem(146px);
    padding-left: fs-rem(22px);
  }
}

/* body layout */
.c-news__body {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  padding: fs-rem(8px) fs-rem(8px);
  background-color: var(--color-neutral-lightest);
  border: fs-rem(2px) solid var(--color-neutral-darker);

  @include mq($from: mobile) {
    padding: fs-rem(11px) fs-rem(8px);
  }

  @include mq($from: tablet) {
    padding: fs-rem(10px) fs-rem(18px);
    border: 0;
    transform: skewX(-40deg);
  }

  @include mq($from: desktop) {
    padding: fs-rem(13px) fs-rem(26px);
  }

  @include mq($from: wide) {
    padding: fs-rem(13px) fs-rem(52px);
  }

  > * {
    @include mq($from: tablet) {
      transform: skewX(40deg);
    }
  }
}

/* tag & title layout */
.c-news__tag,
.c-news__title {
  margin-left: fs-rem(6px);

  @include mq($from: tablet) {
    margin-left: fs-rem(12px);
  }

  @include mq($from: desktop) {
    margin-left: fs-rem(24px);
  }
}

/* footer layout */
.c-news__footer {
  display: none;
  text-align: center;

  @include mq($from: tablet) {
    // position: relative;
    display: block;
    flex-shrink: 0;
    width: fs-rem(60px);
    margin: 0 auto;

    @include mq($from: desktop) {
      width: fs-rem(90px);
    }
  }
}
