/* ==========================================================================
   Tag component
   ========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

/* tag style */
.c-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: fs-rem(2px) fs-rem(4px);
  white-space: nowrap;
  background-color: var(--color-secondary-mid);
  border-radius: fs-rem(6px);

  @include mq($from: desktop) {
    padding: fs-rem(6px) fs-rem(12px);
  }

  @include mq($from: wide) {
    padding: fs-rem(8px) fs-rem(16px);
  }
}
