/* ==========================================================================
   Text component
   ========================================================================== */

@use '../../abstracts/' as *;
@use 'sass:math' as *;

// ==========================================================================
// Common modifier
// ==========================================================================

/* color modifier */
.c-text--primary {
  color: var(--color-primary-mid);
}

.c-text--secondary {
  color: var(--color-secondary-mid);
}

.c-text--white {
  color: var(--color-neutral-lightest);
}

.c-text--link {
  display: inline;
  color: var(--color-link);
}

/* font-family modifier */
.c-text--english {
  font-family: var(--font-family-secondary);
}

/* weight modifier */
.c-text--medium {
  font-weight: var(--font-weight-medium);
}

.c-text--bold {
  font-weight: var(--font-weight-bold);
}

.c-text__black {
  font-weight: var(--font-weight-black);
}

/* line-height modifier */
.c-text--extra-tight {
  line-height: var(--line-height-tight);
}

.c-text--snug {
  line-height: var(--line-height-snug);
}

.c-text--relaxed {
  line-height: var(--line-height-relaxed);
}

.c-text--loose {
  line-height: var(--line-height-loose);
}

.c-text--extra-loose {
  line-height: var(--line-height-extra-loose);
}

/* spacing modifier */
.c-text--wide {
  letter-spacing: var(--letter-spacing-wide);
}

.c-text--wider {
  letter-spacing: var(--letter-spacing-wider);
}

.c-text--widest {
  letter-spacing: var(--letter-spacing-widest);
}

/* shadow modifier */
.c-text--shadow {
  text-shadow: fs-rem(4.2px) fs-rem(4.2px) fs-rem(4px) var(--color-neutral-darker-alpha-middle);
}

/* underline modifier */
.c-text--underline {
  display: inline-block;
  background: linear-gradient(transparent 70%, var(--color-primary-lighter) 70%);
}

/* uppercase modifier */
.c-text--uppercase {
  text-transform: uppercase;
}

/* hover modifier */
.c-text--hover {
  transition: color 0.3s var(--ease-in-out-cubic);

  @include hover {
    color: var(--color-neutral-lighter);

    &::before,
    &::after {
      color: var(--color-neutral-lighter);
    }
  }

  &::before,
  &::after {
    transition: color 0.3s var(--ease-in-out-cubic);
  }
}

/* japanese vertical */
.c-text--vertical {
  writing-mode: vertical-rl;
}

// ==========================================================================
// xs, sm, md, lg, xl, 2xl size
// ==========================================================================

/* xs size */
.c-text__xs {
  color: var(--color-neutral-lightest);
  font-size: var(--font-size-2xs);

  @include mq($from: tablet) {
    font-size: var(--font-size-xs);
  }
}

/* sm size */
.c-text__sm {
  color: var(--color-neutral-lightest);
  font-size: var(--font-size-xs);
}

/* md size */
.c-text__md {
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-wide);
}

/* lg size */
.c-text__lg {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xl);

  @include mq($from: tablet) {
    font-size: calc((var(--font-size-xl) + var(--font-size-3xl)) / 2);
  }

  @include mq($from: desktop) {
    font-size: var(--font-size-3xl);
  }
}

/* xl size */
.c-text__xl {
  color: var(--color-neutral-darker);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);

  @include mq($from: tablet) {
    font-size: calc((var(--font-size-xl) + var(--font-size-7xl)) / 2);
  }

  @include mq($from: desktop) {
    font-size: var(--font-size-7xl);
  }
}
