/* ==========================================================================
   Header layout
   ========================================================================== */

@use '../abstracts/' as *;
@use 'sass:math' as *;

/* overall style */
.l-header {
  z-index: $z-index-header;
  width: 100vw; // Workaround body-scroll-lock bug
  margin-bottom: fs-rem(-1px); // Workaround the problem of gaps between header elements.
  background: linear-gradient(to right, var(--color-primary-mid), var(--color-neutral-darker));
}

/* header on scroll */
.l-header.is-pinned {
  position: sticky;
  top: 0;
  z-index: $z-index-header-pinned; // Workaround being displayed momentarily when scrolling down.
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s var(--ease-in-out-cubic), visibility 1s var(--ease-in-out-cubic);
  pointer-events: none;
}

.l-header.is-visible {
  z-index: $z-index-header;
  background: linear-gradient(to right, var(--color-primary-mid-alpha-middle), var(--color-neutral-darker-alpha-middle));
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

/* inner layout */
.l-header__inner {
  display: flex;
  align-items: center;
  height: fs-rem(56px);

  @include mq($from: tablet) {
    height: fs-rem(68px);
  }

  @include mq($from: desktop) {
    height: fs-rem(80px);
  }
}

/* logo layout */
.l-header__logo {
  z-index: $z-index-header-logo;
}

/* navigation layout */
.l-header__navigation {
  position: relative;
  z-index: $z-index-header-navigation;
  flex-grow: 1;
  height: 100%;
  margin-right: fs-rem(-20px);

  @include mq($from: headerMenu) {
    margin-right: fs-rem(0);
  }
}

/* button layout */
.l-header__button {
  position: relative;
  z-index: $z-index-header-button;
  width: fs-rem(60px);
  height: 100%;
  margin-left: auto;
  background-color: transparent;

  @include mq($from: headerMenu) {
    display: none;
  }
}

/* menu layout */
.l-header__menu {
  z-index: $z-index-header-menu;

  @include mq($from: headerMenu) {
    display: block;
    margin-left: fs-rem(25px);
  }
}

/* bland-space layout */
.l-header__blank-space {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-header-blank-space;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-neutral-mid-alpha-high);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s var(--ease-in-out-cubic), visibility 0.3s var(--ease-in-out-cubic);

  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}
