/* ==========================================================================
   Header layout
   ========================================================================== */

@use '../abstracts/' as *;
@use 'sass:math' as *;

/* overall style */
.l-header {
  background-color: var(--color-primary-mid);
  background-image: linear-gradient(to right, var(--color-primary-mid), var(--color-neutral-darker));
}

/* inner layout */
.l-header__inner {
  display: flex;
  align-items: center;
  height: fs-rem(56px);

  @include mq($from: tablet) {
    height: fs-rem(68px);
  }

  @include mq($from: desktop) {
    height: fs-rem(80px);
  }
}

/* navigation layout */
.l-header__navigation {
  flex-grow: 1;
  height: 100%;
}

/* button layout */
.l-header__button {
  width: fs-rem(60px);
  height: 100%;
  margin-left: auto;
  background-color: transparent;

  @include mq($from: headerMenu) {
    display: none;
  }
}

/* menu layout */
.l-header__menu {
  display: none;

  @include mq($from: headerMenu) {
    display: block;
    margin-left: fs-rem(25px);
  }
}
