/* ==========================================================================
   Section layout
   ========================================================================== */

@use '../abstracts/' as *;
@use 'sass:math' as *;

// ==========================================================================
// Section modifier
// ==========================================================================

/* about modifire */
.l-section--about {
  margin-top: fs-rem(120px);

  @include mq($from: desktop) {
    margin-top: fs-rem(160px);
  }
}

/* works modifire */
.l-section--works {
  margin-top: fs-rem(120px);

  @include mq($from: tablet) {
    margin-top: fs-rem(162px);
  }
}

/* recruit modifire */
.l-section--recruit {
  margin-top: fs-rem(106px);

  @include mq($from: desktop) {
    margin-top: fs-rem(160px);
  }
}

// ==========================================================================
// Section Header
// ==========================================================================

/* header element */
.l-section__header {
  display: flex;
  align-items: flex-end;

  @include mq($from: tablet) {
    justify-content: center;
  }
}

/* subtitle element */
.l-section__subtitle {
  display: flex;
  align-items: center;
  margin-left: fs-rem(16px);
  padding-bottom: fs-rem(6px);

  @include mq($from: desktop) {
    padding-bottom: fs-rem(10px);
  }

  &::before {
    display: block;
    width: fs-rem(2px);
    height: fs-rem(22px);
    margin-right: fs-rem(14px);
    background-color: var(--color-primary-mid);
    transform: rotate(40deg);
    content: '';

    @include mq($from: desktop) {
      height: fs-rem(30px);
      margin-right: fs-rem(18px);
    }
  }
}

/* white modifier */
.l-section__subtitle--white {
  &::before {
    background-color: var(--color-neutral-lightest);
  }
}

// ==========================================================================
// Section Body
// ==========================================================================

/* body element (service, about, works, contact) */
.l-section__body--service,
.l-section__body--about,
.l-section__body--works,
.l-section__body--contact {
  margin-top: fs-rem(12px);

  @include mq($from: tablet) {
    margin-top: fs-rem(div(12px + 14px, 2));
  }

  @include mq($from: desktop) {
    margin-top: fs-rem(14px);
  }
}

// ==========================================================================
// Button element
// ==========================================================================

/* button element (service, about) */
.l-section__button--service,
.l-section__button--about {
  margin-top: fs-rem(28px);

  @include mq($from: tablet) {
    margin-top: fs-rem(42px);
  }
}

/* button element (works) */
.l-section__button--works {
  margin-top: fs-rem(36px);

  @include mq($from: tablet) {
    margin-top: fs-rem(42px);
  }
}

/* button element (recruit) */
.l-section__button--recruit {
  margin-top: fs-rem(42px);

  @include mq($from: tablet) {
    margin-top: fs-rem(64px);
  }
}

/* button element (contact) */
.l-section__button--contact {
  margin-top: fs-rem(24px);

  @include mq($from: tablet) {
    margin-top: fs-rem(div(24px + 47px, 2));
  }

  @include mq($from: desktop) {
    margin-top: fs-rem(47px);
  }
}
