/* ==========================================================================
   Section layout
   ========================================================================== */

@use '../abstracts/' as *;
@use 'sass:math' as *;

// ==========================================================================
// Section modifier
// ==========================================================================

/* service modifire */
.l-section--service {
  margin-top: fs-rem(120px);

  @include mq($from: desktop) {
    margin-top: fs-rem(160px);
  }
}

/* about modifire */
.l-section--about {
  margin-top: fs-rem(120px);

  @include mq($from: desktop) {
    margin-top: fs-rem(160px);
  }
}

/* works modifire */
.l-section--works {
  margin-top: fs-rem(120px);

  @include mq($from: tablet) {
    margin-top: fs-rem(162px);
  }
}

/* recruit modifire */
.l-section--recruit {
  margin-top: fs-rem(106px);

  @include mq($from: desktop) {
    margin-top: fs-rem(160px);
  }
}

/* contact modifire */
.l-section--contact {
  margin-top: fs-rem(120px);

  @include mq($from: desktop) {
    margin-top: fs-rem(80px);
  }
}

// ==========================================================================
// Body modifier
// ==========================================================================

/* service, about, works, contact modifier (for body element) */
.l-section__body--service,
.l-section__body--about,
.l-section__body--works,
.l-section__body--contact {
  margin-top: fs-rem(12px);

  @include mq($from: tablet) {
    margin-top: fs-rem(div(12px + 14px, 2));
  }

  @include mq($from: desktop) {
    margin-top: fs-rem(14px);
  }
}

// ==========================================================================
// For Button modifier
// ==========================================================================

/* service, about, works, recruit modifier (for button element) */
.l-section__button--service,
.l-section__button--about,
.l-section__button--recruit {
  margin-top: fs-rem(28px);

  @include mq($from: tablet) {
    margin-top: fs-rem(42px);
  }
}

.l-section__button--works {
  margin-top: fs-rem(36px);

  @include mq($from: tablet) {
    margin-top: fs-rem(42px);
  }
}

.l-section__button--recruit {
  margin-top: fs-rem(42px);

  @include mq($from: tablet) {
    margin-top: fs-rem(64px);
  }
}

/* contact modifier (for button element) */
.l-section__button--contact {
  margin-top: fs-rem(32px);

  @include mq($from: tablet) {
    padding-top: fs-rem(div(32px + 56px, 2));
  }

  @include mq($from: desktop) {
    margin-top: fs-rem(56px);
  }
}
